:root {
    --main-color: #008804;
    --black: #3a3a3a;
    --bg: linear-gradient(180deg, rgba(50,209,0,0.8687850140056023) 0%, rgba(0,136,4,0.8799894957983193) 53%);
    --white: #f4f4f4


}

* {
    margin: 0;  
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif;
    outline: none;
}

body {
    background: var(--bg);
    background-size: cover;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

/* <----------------> */

.logo {
    padding: 20px 0;
}

.logo img {
    filter: invert(100%);
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    
}

.logo h1 {
    color:var(--white);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
    
}

/* <----------------> */

.container {
    width: 80%;
    max-width: 950px;
    background: var(--white);
    border-radius: 20px;
    padding: 41px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 6px 4px 0px #00000040;
    margin-bottom: 40px;
}

/* <----------------> */

.box-container {
    height: 100%;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.currency {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

label {
    color: var(--black);
    font-size: 22px;
    font-weight: 400;
}

.swap-btn {
    border: none;
    cursor: pointer;
    background-color: var(--white);
    transition: transform 0.3s ease;
}

.swap-btn:hover {
    transform: scale(1.2);
}

.swap-btn:active {
    opacity: .6;
    transform: scale(.6);
}

.swap-btn img {
    height: 70px;
    width: 70px;
}

select, input {
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    background: var(--white);
    height: 51px;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    appearance: none;
    padding-left: 25px;
    cursor: pointer;
    color: var(--black);
}

input {
    cursor: auto;
}

.convert-btn {
    width: 100%;
    border: none;
    background: var(--main-color);
    border-radius: 5px;
    height: 50px;
    color: var(--white);
    cursor: pointer;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    box-shadow: 2px 6px 4px 0px #00000040
}

.convert-btn:hover {
    opacity: .8;
    font-weight: 700;
}

.convert-btn:active {
    opacity: .6;
}

/* <----------------> */

.result-container {
    border: 1px solid var(--main-color);
    border-radius: 20px;
    margin-top: 35px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 6px 4px 0px #00000040
}

.from-to-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px;
    width: 150px;
}

.arrow-img {
    color: var(--main-color);
} 

.currency-money {
    color: var(--black);
    font-size: 24px;
}

.currency-value {
    color: var(--black);
    font-size: 26px;
    font-weight: 700;
}

.currency-logo {
    width: 80px;
    height: 80px;
    transition: 0.5s ease-in-out;
}

.currency-logo:hover {
    opacity: .5;
}

/* <---------MEDIA----------> */
